<div class="container text-center" style="margin-top:30px;">

    <h2>Bienvenido al Sistema de Transportes</h2>
    <p>Seleccione una opción:</p>

    <div class="row" style="margin-top:30px;">

        <div class="col-md-4">
            <a href="@Url.Action("Index", "Camiones")" class="btn btn-primary btn-lg btn-block">
                🚛 Camiones
            </a>
        </div>

        <div class="col-md-4">
            <a href="@Url.Action("Index", "Chofers")" class="btn btn-success btn-lg btn-block">
                👨‍✈️ Choferes
            </a>
        </div>

        <div class="col-md-4">
            <a href="@Url.Action("Index", "Rutas")" class="btn btn-warning btn-lg btn-block">
                🗺️ Rutas
            </a>
        </div>

    </div>

</div>